<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.CSWordApp">

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">

        <activity
            android:name="com.example.CSWordApp.HelpfulActivity"
            android:parentActivityName="com.example.CSWordApp.DashboardActivity">

        </activity>

        <activity
            android:name="com.example.CSWordApp.RulesActivity"
            android:label="@string/title_activity_rules"
            android:parentActivityName="com.example.CSWordApp.DashboardActivity"
            android:theme="@style/Theme.MyApplication.NoActionBar" />
        <activity
            android:name="com.example.CSWordApp.ReminderActivity"
            android:parentActivityName="com.example.CSWordApp.DashboardActivity" />
        <activity
            android:name="com.example.CSWordApp.WordsActivity"
            android:parentActivityName="com.example.CSWordApp.DashboardActivity" />
        <activity android:name="com.example.CSWordApp.LoginActivity" />
        <activity android:name="com.example.CSWordApp.RegistrationActivity" />
        <activity android:name="com.example.CSWordApp.DashboardActivity" />
        <activity android:name="com.example.CSWordApp.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name="com.example.CSWordApp.Broadcasters.InactivityBroadcaster" />
        <receiver android:name="com.example.CSWordApp.Broadcasters.RemindBroadcaster" />
    </application>

</manifest>